[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.tudelft.nl/B.Buschmann/simple-knn.git
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/B32xN0/diff-gaussian-rasterization.git
[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = https://gitlab.tudelft.nl/B.Buschmann/sibr_core.git
